{% extends "base.html" %}
{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group m-5">
        {{ form.nick.label(class="form-control-label") }}
        {{ form.nick(class="form-control form-control-lg") }}
    </div>
    <div class="form-group m-5">
        {{ form.text.label(class="form-control-label") }}
        {{ form.text(class="form-control form-control-lg") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}